@use './variaveis.scss';
@use './hero.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: variaveis.$bgColor;
}

header{
    color: #fff;
    padding-left: 18px;
}

.conteiner{
    margin: 6px auto;
    padding-top: 7px;
    display: inline-block;
}
p{
    font-size: 18px;
    margin-top: 14px;
}

img{
    border-radius: 24px;
}

.slider{
    margin: 0 auto;
    width: 800px;
    height: 650px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    height: 663px;
    width: 600px;
}

.manual-navigation{
    position: absolute;
    width: 610px;
    margin-top: 260px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 3px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

#sinopse{
    margin-top: 10px;
    color:#fff;
}

.sinopse{
    color:#fff;
    padding: 6px;
    display: inline-flex;
    align-items: center;
    justify-items:flex-start;
}

.sinopse p{
    font-size: 18px;  
}

.sinopse img{
    margin-right: 800px;
    border-radius: 15%;
}

#comentarios{
    color:#fff;
    background-color: #549b97;
}

#comentarios img{
    height: 150px;
    width: 200px;
}


.comentario2{
    border-bottom: solid #000000;
}
.comentario3{
    border-bottom: solid #000000;
}
.comentario4{
    border-bottom: solid #000000;
}